@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* feed */
.feed {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.05);

}


.feed-section ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);


}

.feed-section ul li a.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.card-img {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    width: 322px !important;
    padding: 13px;
    border-radius: 20px !important;
}


.quis {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    max-width: 163px;
}
.pr-15{
    padding-right: 15px;
}
.more-no {
    background: rgba(234 237 255) !important;
    border-radius: 20px;
    width: 171px !important;
    padding-top: 20px;
    padding-bottom: 15px;
}

.boy-img {
    margin-top: 67px;
}

.home-feed {
    padding-top: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;

}

.jhone-doe {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.dictum {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
    max-width: 857px !important;
}

.following-e {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.augue {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.text-no {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    opacity: 60%;
    color: rgba(0, 0, 0, 1);
    /* background: rgba(44, 73, 254, 1);
    opacity: 10%; */
}

.text-more {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 1) !important;
    opacity: 60%;
}

/* event */
.event {
    background-image: url(../image/png/event-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 372px;
}

.events {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: rgba(44 73 254);
}

.free {
    color: rgba(1 200 255);
}

a {
    text-decoration: none !important;
}

.active {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}


dl,
ol,
ul {
    padding-top: 10px !important;
}

.log-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    background: rgba(44, 73, 254, 1);
    border: 2px solid rgba(44, 73, 254, 1);
    border-radius: 23px;
    padding: 10px 25px 10px 24px;
}

.home {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 130px;
}

.even {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

/*flex box layout*/
.mb-24 {
    margin-bottom: 24px;
}

.heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    padding-bottom: 20px;
    text-indent: center;
    font-family: "poppins", sans-serif;
}

.card-event {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 30px;
    margin-bottom: 24px;
}

.card-event:hover {
    box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

.lorem {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    padding-top: 21px;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.number {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.mumbai {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 60%;
}

.go-btn {
    background: rgba(44, 73, 254, 1);
    border: 2px solid rgba(44, 73, 254, 1);
    border-radius: 23px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    width: 134px;
    height: 46px;
}

/* footer-section */
.footer-section {
    background: rgba(0, 0, 0, 1);
    /* height: 435px; */
    padding: 20px;
}

.ul-list {
    padding-top: 60px;
}

.eventsfree {
    padding-top: 30px;
}

.ul-chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.show {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(45, 60, 174, 0.53);
    padding-top: 15px;
}

.lorem-sit {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 36px;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.belong {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.service-e {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    /* padding-top: 40px; */
}

.service-li {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.gallery {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-top: 9px;
    padding-left: 10px;
}

/* media quary */
@media (max-width:992px) {
    label[for="menu-list"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="menu-list"]>span {
        width: 100%;
        height: 3px;
        background-color: red;
        z-index: 2;
    }

    input#menu-list:checked~.ul-modify {
        background-color: lightseagreen;
        right: 0;
    }

    input:checked~label[for="menu-list"]>span:nth-child(1) {
        transform: rotate(64deg);
        transform-origin: left;
    }

    input:checked~label[for="menu-list"]>span:nth-child(2) {
        transform: rotate(-40deg);
        opacity: 0;

    }

    input:checked~label[for="menu-list"]>span:nth-child(3) {
        transform: rotate(-63deg);
        transform-origin: left;
    }

    .ul-modify {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: black;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 200ms linear;
    }

}